<footer>
	<p><a href="mailto:srcurran@gmail.com" class="link">srcurran@gmail.com</a> | <a href="tel:16175716723" class="link">617.571.6723</a></p>
</footer>

<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-573241-1");pageTracker._trackPageview();} catch(err) {}</script>