$font-style: 'Roboto', sans-serif;
$heading-font: 'Roboto Mono', monospace;

$main: #19CCAA;
$secondary: #425469;
$tertiary: #7191B7;

$main: #CB99A1;
$secondary:#9C7C81; 
$tertiary: #9C646D;

$main: #D2A928;
$secondary: #8EB453; 
$tertiary: #22C6D4;

$lightgrey: #f0f0f0;
$light: #E7EDF4;
$dark: #444;
$darker: #1D1425;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	color: $dark;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 700;
	color: $dark;
	font-family: $heading-font;
	line-height: 1.5;
	margin: 2rem 0 .5rem;
}
h4{margin:0}
h5{
	font-weight:400;
	margin:0 0 -2rem;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 1.5em;
}

a,
a:visited {
	color: $secondary;
	text-decoration: none;
	font-weight: 700;
}
a:hover {
	color: $tertiary;
	text-decoration: underline;
}
ul{
	padding-left:1rem;
}