html, body{
	height:100%;
}
body{
	display:flex;
	flex-direction: column;
	padding-top:4.3rem;
}
nav{
	height:4.3rem;
	position:fixed;
	top:0;
	width:100vw;
	z-index:100;
	padding:1rem;
	display:flex;
	flex-wrap:no-wrap;
	justify-content:space-between;
	align-items:center;
	background:$light-transparent;
	border-bottom:1px solid $dark-transparent;
	.logo a{
		font-weight: 700;
		font-size: 1.5rem;
		color:$darker;
	}
	.logo a:hover{
		text-decoration:none;
		color:$dark;
	}
	
	.nav-list{
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				display:inline-block;
				&:hover{
					ul{
						display:block;
					}
				}	
				a{ 
					padding:1rem;
					color: $dark;
				}
				ul{
					background: $darker;
					padding:1rem 1rem 1.5rem;
					margin:.5rem -1rem 0;
					position:absolute;
					display:none;
					border:1px solid $dark;
					li{
						margin-left:0;
						display:block;
						a{ 
							display:inline-block;
							width:100%;
							padding:.5rem 1rem;
						}
						a.sublink{
							color:$main;
						}
						a.sublink:hover{
							color:$secondary;
						}
					}
				}
			}
			li:last-of-type a{
				padding-right:0;
			}
		}
	}
}

header{
	background:$darker;
	text-align:center;
	background-size:cover;
	background-position:center;
	border-bottom:1px solid $darker;
	.wrapper{
		background:$darker-transparent;
		padding:15vh 2rem;
	}
}

main{
	flex: 1 0 auto;
	margin:0 auto;
	max-width:1000px;
	padding:10rem 2rem;
}

main.homepage{
	h1, p{
		max-width:1000px;
		margin-bottom:100px;
	}
}

main.about{
	.inline-list{
		ul{
			margin:0;
			padding:0;
			display:inline-block;
			&.tier-one{
				font-size:1.5rem;
				font-weight: 400;
			}
			li{
				display:inline-block;
			}
			li::after{content: " • ";}
			li:last-of-type::after{content: "";}
		}
	}	
}


main.case-study{
	.project-overview{
		display:flex;
		div.overview{
			width:60%;
		}
		div.meta{
			width:40%;
			font-size:.85em;
			margin:0 0 4rem 4rem;
			ul{
				padding:1rem;
				background:$lightgrey;
				margin:0;
				display:flex;
				flex-wrap:wrap;
				li{
					display:inline-block;
					width:50%;
					margin-bottom:1rem;
				}
			}
		}
	}
	div.challenge{
		background:$lightgrey;
		margin: 10rem -1000rem;
		padding: 10rem 1010rem;
	}
	div.feature{
		display:flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 10rem auto;
		max-width:800px;
		.feature-copy{
			width:60%;
		}
		.feature-image{
			width:35%;
			max-height:25rem;
			overflow:hidden;
			outline:1px solid $darker;
			a{
				img{
					display:block;
					margin:0;
					width:100%;
				}
			}
		}
	}
	div.solution{
		display:flex;
		justify-content: space-between;
		align-items: flex-start;
		.solution-copy{
			width:55%;
		}
		.solution-image{
			width:40%;
			img{
				width:100%;
			}
		}
	}
	div.my-role{
		background:$lightgrey;
		margin: 0 -1000rem -10rem;
		padding: 10rem 1010rem;
	}
}

main.about{
	h2{
		margin-top:5rem;
	}
}

aside.related-case-studies{
	padding:2rem;
	h2{
		margin-bottom:1rem;
		margin:2rem 2rem 1rem;;
	}
	.inner{
		display:flex;
		justify-content: space-between;
		div.related-case-study{
			width:50%;
			background:$tertiary;
			margin:2rem;
			p{
				a{
					font-family:$heading-font;
					font-size:1.5rem;
					color:$lightgrey;
					display:block;
					margin: 0 auto;
					text-align:center;
					width:100%;
					padding:10vh 1rem;
					color:$darker;
				}
			}
		}
		div.related-case-study:last-of-type{
			background:$secondary;
		}
	}
}

main.case-studies{
	width:100%;
	max-width:100%;
	padding:0;
	margin:0;
	ul{
		margin:0;
		padding:0;
		display:block;
		width:100%;
		li{
			background:$darker;
			width:100%;
			list-style:none;
			text-align:center;
			background-size:cover;
			background-position:center;
			border-bottom:1px solid $darker;
			a{
				background: $darker-transparent;
		    color: $main;
		    font-size: 2.5em;
		    font-weight: 700;
				display:block;
				padding:8vh 0;
			}
			&:hover{
				a{
					background: $main;
					color:$darker !important;
				}
			}
		}
	}
}

.small{
	font-size: .75em;
}
.x-large{
	font-size: 2.5em;
}
.link{
	
}

footer{
	padding: 2rem;
	background:$darker;
	width:100%;
	clear:both;
	p{
		color:$lightgrey;
		text-align:center;
		a{
			color:$lightgrey !important;
		}
	}
}

@media only screen and (max-width: 600px) {
	body{
		padding-top:6rem;
	}
	nav{
		height:6rem;
		flex-wrap:wrap;
		justify-content:center;
		padding:.5rem;
		> *{
			width:100%;
			text-align:center;
		}
		ul li ul{
			text-align:left;
			margin-top:.4rem !important;
		}
		li a{
			padding:.5rem !important;
		}
	}
	aside.lock{
		#password-form{
			input{
				width:100%;
			}
		}
	}
	main{
		padding-top:2rem;}
	main.homepage{
		h1{
			margin-bottom:2rem;
			font-size:2.5rem;
		}
		p{
			font-size:1.25rem;
			margin-bottom:2rem;
		}
	}
	main.case-study{
		padding-bottom:0;
		.project-overview{
			flex-wrap:wrap;
			> * {
				width:100% !important;
				margin:0 !important;
			}
		}
		
		div.challenge,
		div.my-role{
			padding:5rem 2rem;
			margin:5rem -2rem;
			margin: 5rem -2rem;
			background:$lightgrey;
		}
		div.solution{
			margin-top:5rem;
			margin-bottom:5rem;
			.solution-image{
				width:100%;
			}
		}
		div.feature{
			flex-wrap:wrap;
			margin-top:5rem;
			margin-bottom:5rem;
			
			.feature-copy{
				order:-1;
				width:100% !important;
			}
			.feature-image{
				width:100% !important;
			}
		}
		div.solution{
			flex-wrap:wrap;
			.solution-copy{
				order:-1;
				width:100% !important;
			}
			img{
				width:100% !important;
			}
		}
	}
	aside.related-case-studies{
		.inner{
			flex-wrap:wrap;
			div.related-case-study{
				width:100%;
			}
		}
	}
}

aside.lock{
	
	background: $tertiary;
	padding:7vh 2rem;
	text-align:center;
	font-size:1.5em;
	h2,p{
		color:$white;
	}
	.password-form-error{
		p{
			font-size:1rem;
			padding:1rem 2rem;
			background: $dark-transparent;
			color:$white;
			width:fit-content;
			margin:0 auto;
			a{
				color:$white;
			}
		}
	}
	#password-form{
		input{
			font-size:2rem;
			border:2px solid $dark;
			padding:.5rem;
			text-align:center;
			&:focus{
				outline: 4px solid $dark-transparent;
			}
		}
	}
}