<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	{% if page.no-nav %}
		{% include header-nonav.html %}
	{% else %}
		{% include header.html %}
	{% endif %}
	<main{% if page.type %} class="{{ page.type }}"{% endif %}>
		<article>
			{{ content }}
		</article>
	</main>
	{% if page.type == "homepage" %}
		<div class="case-studies" style="margin-top:-100px">
			{% for item in site.data.navigation %}
			{% if item.subitems and item.title == 'Case Studies' %}
			<ul>
				{% for item in item.subitems %}
					<li {% if item.background-image %}style="background-image:url('{{ item.background-image }}');"{% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
		</div>
	{% endif %}
  {% include footer.html %}
</body>

</html>