<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header-nonav.html %}
	<main class="lock">
		<article>
			<h1>Enter Site Password</h1>
			<div id="password-form-error"></div>
			<form id="password-form" action="/lock/" method="get" accept-charset="utf-8">
				<p><input type="text" name="password" value="" id="password"></p>
			</form>
		</article>
	</main>
  {% include footer.html %}
</body>
<script type="text/javascript">
$(function(){
	$('#password-form').submit(function(e){
		if(sha1($('#password').val()) == "ccf100e5943097d24073db57fef388fcbf76a50c"){ //portfolio2018
			window.location.href = $('#password').val()+".html";
			return false;
		}else{
			$("#password-form-error").html("Incorrect password. Please email <a href='mailto:srcurran@gmail.com' target='_blank'>srcurran@gmail.com<a/> for access.");
			return false;
		}
	});
});
</script>
</html>

<style type="text/css" media="screen">
	main.lock{
		text-align:center;
	}
	main.lock #password-form input{
		font-size:2rem;
		border:4px solid $link-color;
		padding:.5rem;
		text-align:center;
	}
</style>